<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<script type="text/javascript">
  var EMBED_B_CORPORATION_SLUGS = [
    'caspian-impact-investment-adviser-private-limited', 
    'goodtel-communications-pty-limited', 
    'phlur',
  ];

  // Optional string overrrides (do not include if default English strings are acceptable)
  var EMBED_B_CORPORATION_TRANSLATION = {
    title: 'Certified B Corporations',
    learnMore: 'Learn More',
  };
</script>
  
<script type="text/javascript" src="https://app-staging.bimpactassessment.net/embed.js"></script>

<bcorporation-embed />

</body>
</html>
